@tailwind base;
@tailwind components;
@tailwind utilities;

.color1 { background-color: #000000; }
.color2 { background-color: rgb(11, 11, 11); }
.color3 { background-color: #131313; }
.color4 { background-color: #272727; }
.color5 { background-color: #3a3a3a; }
.color6 { background-color: #4d4d4d; }

* {
    font-family: "Roboto Slab", serif;
}
